.rightbar {
  flex: 1.5;
  height: fit-content;
}
.rightContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  height: 47vh;
  background-color: white;
  margin-top: 20px;
  padding-top: 5px;
  border-radius: 20px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge, work for all */
  scrollbar-width: none; /* Firefox, work for all */
}
.followersText {
  margin-bottom: 9px;
}
.allFollowers {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.friendsRequest {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  align-items: start;
  margin: 1px 7px;
  padding: 5px;
  border-radius: 4px;
}
.friendsRequest:hover {
  cursor: pointer;
}
.friendsRequestInfo {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.friendsRequestInfoImage {
  /* border: 2px solid black; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 7px;
}

.choiceDiv {
  display: flex;
  justify-content: space-around;
}
.choice {
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  background: #2f2f2f;
  color: #fff;
  font-size: 15px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 30px;
}

.rightContainer2 {
  overflow: hidden;
  /* height: 60vh; */
  background-color: white;
  margin-top: 20px;
  /* padding-top: 5px; */
  border-radius: 20px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge, work for all */
  scrollbar-width: none; /* Firefox, work for all */
}
.friendsYouMightKnow {
  font-weight: 600;
  font-size: larger;
  /* margin: 10px 20px; */
}
.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  object-fit: cover;
}
.addFriendDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 5px;
  background-color: #f1f1f1;
  border-radius: 3px;
}
.addFriendDivLeft {
  display: flex;
  align-items: center;
}
.addFriendDivLeft p {
  margin: 0%;
}
.addFriendDivLeft p:nth-child(1) {
  font-size: 15px;
  font-weight: 600;
  margin-left: 5px;
  cursor: pointer;
}
/* .addFriendDivLeft p:nth-child(1):hover {
  text-decoration: none;
} */
.addFriendDivLeft p:nth-child(2) {
  font-size: 12px;
  color: gray;
  margin-left: 5px;
}
/* .addFriendIcon {
  height: 30px;
  width: 30px;
  cursor: pointer;
} */
